<tr>
  <td>
    <%= training.user_category.nil? ? "" : link_to(training.user_category.name, training.user_category) %>
  </td>
  <td>
    <%= training.direction == :direct? ? "foreign -> native" : "native -> foreign" %>
  </td>
  <td>
    <%= TrainingsHelper.get_ready_words(training).count %>
  </td>
  <td>
    <%= button_to "Start", start_training_path(training), :form_class => "inline", :class => "btn btn-primary without-bottom-margin"%>
    <%= button_to "Delete", training, :form_class => "inline", :class => "btn btn-danger without-bottom-margin", :method => :delete, :confirm => "You sure?", :title => "Delete training?" %>
  </td>
</tr>