<tr>
  <td>
    <%= training.user_category.nil? ? "" : link_to(training.user_category.name, training.user_category) %>
  </td>
  <td>
    <%= training.direction == :direct? ? "foreign -> native" : "native -> foreign" %>
  </td>
  <td>
    <%= TrainingsHelper.get_ready_words(training).count %>
  </td>
  <td>
    <%= form_for training, :url => start_training_path(training), :html => {:class => "without_bottom_margin"} do |f| %>
        <%= f.submit "Start", :class=>"btn btn-primary without_bottom_margin", :name => "start" %>
        <%= f.submit "Delete", :class => "btn btn-danger without_bottom_margin", :name => "delete" %>
    <% end %>
  </td>
</tr>