<tr>
  <td>
    <%= training.user_category.nil? ? "" : link_to(training.user_category.name, training.user_category) %>
  </td>
  <td></td>
  <td>
    <%= training.direction == :direct? ? "foreign -> native" : "native -> foreign" %>
  </td>
  <td>
    <%= training.get_ready_user_words(nil).size %> /
    <%= total_words_count = training.get_user_words(nil).size %>
  </td>
  <td>
    <%= button_to "Delete", training, :form_class => "inline", :class => "btn btn-danger without-bottom-margin", :method => :delete, :confirm => "You sure?", :title => "Delete training?" %>
  </td>
</tr>

<% (0..((total_words_count - 1)/training.user.word_per_page)).each do |i| %>
  <tr>
    <td>
    </td>
    <td>
      #<%= i + 1 %>
    </td>
    <td>
    </td>
    <td>
      <%= word_count = training.get_ready_user_words(i + 1).size %> /
      <%= training.get_user_words(i + 1).size %>
    </td>
    <td>
      <% if word_count == 0 %>
        <%= button_to "Start", start_training_path(training, :page => i + 1), :form_class => "inline", :class => "btn btn-primary without-bottom-margin .disabled", :disabled => "true" %>
      <% else %>
        <%= button_to "Start", start_training_path(training, :page => i + 1), :form_class => "inline", :class => "btn btn-primary without-bottom-margin"%>
      <% end %>
    </td>
  </tr>
<% end %>