<tr>
  <td>
    <%= training.user_category.nil? ? "" : link_to(training.user_category.name, training.user_category) %>
  </td>
  <td>
    <%= training.direction == :direct? ? "direct" : "translation" %>
  </td>
  <td>
    <%= TrainingsHelper.get_ready_words(training).count %>
  </td>
  <td>
    <%= form_for training, :url => start_training_path(training) do |f| %>
        <%= f.submit "Start", :class=>"btn btn-primary" %>
    <% end %>
    <%= submit_tag "Delete", :class => "btn btn-danger" %>
  </td>
</tr>