<tr>
  <td>
    <%= training.user_category.nil? ? '' : link_to(training.user_category.name, training.user_category) %>
  </td>
  <td></td>
  <td>
    <%= training.direction == :direct? ? t('training.direction.direct') : t('training.direction.reverse') %>
  </td>
  <td>
    <%= training.get_ready_user_words.size %> /
    <%= training.get_user_words.size %>
  </td>
  <td>
    <%= button_to t('training.start'), training_path(training), method: :get, :form_class => 'inline', :class => 'btn btn-primary without-bottom-margin'%>
  </td>
  <td>
    <%= button_to t('training.delete'), training, :form_class => 'inline', :class => 'btn btn-danger without-bottom-margin', :method => :delete, :confirm => 'You sure?', :title => 'Delete training?' %>
  </td>
</tr>
