<tr>
  <td>
    <%= training.user_category.nil? ? "" : link_to(training.user_category.name, training.user_category) %>
  </td>
  <td>
    <%= training.direction == :direct? ? "direct" : "translation" %>
  </td>
  <td>
    <%= TrainingsHelper.get_ready_words(training).count %>
  </td>
  <td>
    <%= submit_tag "Start", :class => "btn btn-primary" %>
    <%= submit_tag "Delete", :class => "btn btn-danger" %>
  </td>
</tr>