<div class="row" id="word_title">
  <div class="span3">
    <h1><%= @user_word.word.text %></h1>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= form_tag check_training_path do %>

      <table class="table table-striped">
        <tfoot>
        <tr>
          <td>
            <%= submit_tag "Submit", :class => "btn" %>
          </td>
        </tr>
        </tfoot>
        <tbody>
        <% (0..@user_word.direct_translations.length - 1).each do |i| %>
          <tr>
            <td>
              <div class="<%= @answer_classes[@variants[i]] %>">
              <%= text_field_tag "variant_#{i}", @variants[i] %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>