<td>
  <%= link_to user_category.name, user_category %>
</td>
<td>
  <%= form_for(user_category, :remote => true) do |f| %>
    <%= f.check_box :is_default, :onclick => "this.form.commit.click();", :id => "chkDefault_#{user_category.id}"%>
    <%= f.submit "submit", :class => "btn invisible" %>
  <% end %>
</td>
<td>
  <%= user_category.user_words.count %>
</td>
<td>
  undefined
</td>
<td>
  <%= button_to "Edit", edit_user_category_path(user_category), :method => :get, :form_class => "inline", :class => "btn btn-default without-bottom-margin" %>
  <%= button_to "Delete", user_category, :form_class => "inline", :class => "btn btn-danger without-bottom-margin", :method => :delete, :confirm => "You sure?", :title => "Delete category?" %>
</td>