<div class="row">
  <div class="span4 offset4">
    <%= form_for(@category, :form_class => "well") do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <label class="checkbox">
          <%= f.check_box :is_default %>
          Default
        </label>
      </div>
      <%= f.submit "Update", :name => "btn_update", :class => "btn btn-primary" %>
      <%= f.submit "Cancel", :name => "btn_cancel", :class => "btn" %>
    <% end %>
  </div>
</div>