<div class="tabbable tabs">
  <ul class="nav nav-tabs">
    <li class=""><%= link_to "Words", user_words_path, "data-tougle" => "tab" %></li>
    <li class="active"><a href="#lA" data-toggle="tab">Categories</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="lA">
      <%= form_tag :method => :post, :action => :update_defaults do
          @categories.each() do |category|
               %>
          <%= check_box_tag("id#{category.id}", "", category.is_default) %>

          <%= render category %>
          <% end %>
          <%=  submit_tag "Save" %>
      <% end %>
    </div>
  </div>
</div>
