<%= render "user_words/lingvo_reference" %>
<%= render "user_words/multitran_reference" %>

<div class="row with-bottom-margin with-bottom-aligned-children" id="page_title">
  <div class="col-md-2">
    <span class="linguistics bottom-aligned">
      <%= @user_word.language.name %>
    </span>
  </div>

  <div class="col-md-4 col-md-offset-2 center-aligned">
    <span class="linguistics">
      <%= get_german_artikel_by_number(@user_word.custom_int_field1) %>
    </span>
    <span class="user_data big-text"><%= @user_word.text %></span>
    <span class="linguistics">
      <%= get_german_short_plural_form(@user_word) %>
    </span>
  </div>

  <div class="col-md-4 right-aligned">
    <a class="btn btn-default" data-toggle="modal" data-target="#myMultitranReference">Multitran</a>
    <a class="btn btn-default" data-toggle="modal" data-target="#myModal">Lingvo</a>

    <%= button_to 'Edit', edit_user_word_path(@user_word), :method => :get, :form_class => "inline", :class => 'btn btn-default without-bottom-margin' %>
    <%= button_to 'Delete', @user_word, :form_class => 'inline', :class => 'btn btn-danger without-bottom-margin', :method => :delete, :confirm => "You sure?", :title => "Delete word?" %>
  </div>
</div>

<div class="row with-bottom-margin">
  <div class="col-md-12">
    <div class="box forms-box">
      <div class="container-fluid"><div class="row">
        <div class="col-md-4">
          <table class="table without-bottom-margin without-border key-value">
            <tbody>
            <tr>
              <td class="right-aligned">
                Part of speech:
              </td>
              <td class="right-aligned">
                <span class="linguistics">Nomen</span>
              </td>
            </tr>
            <tr>
              <td class="right-aligned">Gender:</td>
              <td>
                <span class="linguistics"><%= get_german_gender_by_number(@user_word.custom_int_field1) %></span>
              </td>
            </tr>
            <tr>
              <td>Plural form:</td>
              <td><span class="linguistics"><%= get_german_plural_form(@user_word) %></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div></div>
    </div>
  </div>
</div>


