<div class="row with-bottom-margin" id="page_title">
  <div class="span1">
    <span class="linguistics">
      <%= @user_word.language.name %>
    </span>
  </div>

  <div class="span1">
  </div>

  <div class="span4 offset2 center-aligned">
    <span class="user_data big-text"><%= @user_word.text %></span>
  </div>

  <div class="offset2 span2 right-aligned">
    <%= button_to "Edit", edit_user_word_path(@user_word), :method => :get, :form_class => "inline", :class => "btn without-bottom-margin" %>
    <%= button_to "Delete", @user_word, :form_class => "inline", :class => "btn btn-danger without-bottom-margin", :method => :delete, :confirm => "You sure?", :title => "Delete word?" %>
  </div>
</div>

<div class="row with-bottom-margin">
  <div class="span12">
    <div class="box forms-box">
      <div class="row-fluid">
        <div class="span4">
          <table class="table without-bottom-margin without-border key-value">
            <tbody>
            <% if @user_word.transcription %>
            <tr>
              <td class="right-aligned">
                Transcription:
              </td>
              <td class="right-aligned">
                <span class="linguistics">[ <%= @user_word.transcription %> ]</span>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

