<%= render "user_words/lingvo_reference" %>
<%= form_for(@user_word) do |f| %>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.hidden_field :text %>
          <%= f.select(:language_id, target_language_select, {}, {:class => 'form-control'}) %>
        </div>
      </div>
      <div class="col-md-3">
        <h1 class="without-bottom-margin"><span class="user_data center center-aligned"><%= f.text_field :text,
           size: 40, class: 'center' %></span></h1>
      </div>

      <div class="col-md-1 col-md-offset-6 right-aligned">
        <a class="btn btn-default" data-toggle="modal" data-target="#myModal">Lingvo</a>
      </div>
    </div>

    <%= edit_word_customization(f) %>

    <div class="row with-bottom-margin">
      <div class="col-md-6">
        <div id="translations" class="box translations-box form-horizontal">
          <table class="table table-striped without-bottom-margin">
            <tbody>
            <% if @user_word.translations.length > 0 %>
                <%= render :partial => "word_relations/edit_word_relation", :collection => @user_word.translations %>
            <% else %>
                <tr>
                  <td colspan="2">Empty</td>
                </tr>
            <% end %>
            <tr>
              <td colspan="2">
                <%= autocomplete_field_tag :translation_0, '', search_autocomplete_user_word_text_path,
                                           class: 'full-width form-control',
                                           placeholder: 'You could add translations here' %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="synonyms" class="col-md-6">
        <div id="synonyms" class="box synonyms-box form-horizontal">
          <table class="table table-striped without-bottom-margin">
            <tbody>
            <% if @user_word.synonyms.length > 0 %>
                <%= render :partial => "word_relations/edit_word_relation", :collection => @user_word.synonyms %>
            <% else %>
                <tr>
                  <td colspan="2">Empty</td>
                </tr>
            <% end %>
            <tr>
              <td colspan="2">
                <%= autocomplete_field_tag :synonym_0, '', search_autocomplete_user_word_text_path,
                                           class: 'full-width form-control',
                                           placeholder: 'You could add synonyms here' %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row with-bottom-margin">
      <div class="col-md-12">
        <div id="comment" class="box comment-box form-horizontal">
          <%= f.text_area :comment, class: 'full-width form-control' %>
        </div>
      </div>
    </div>

    <div class="row with-bottom-margin">
      <div class="col-md-12" id="categories">
        <div class="category_list">
          <%= render :partial => "user_word_categories/edit_user_word_category", :collection => @user_word.user_word_categories %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 new-category">
        <%= autocomplete_field_tag :category_0, '', search_autocomplete_user_category_name_path, :placeholder => "You could add categories here" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-5 center">
        <%= f.submit :class => "btn btn-primary", :value => "Save word" %>
      </div>
    </div>
<% end %>
<%= set_focus_to_id('translation_0') %>
