<%= form_for(@user_word) do |f| %>
    <div class="row">
      <div class="span2">
        <%= f.hidden_field :text %>
        <%= f.select(:language_id, target_language_select, {}, {:class => "dropdown_middle"}) %>
      </div>
      <%= edit_word_customization(f) %>
    </div>

    <div class="row with-bottom-margin">
      <div class="span12 box translations-box">
        <div id="translations">
          <input type="button" value="Add translation" class="btn" onclick="addTranslation();"/>
          <input data-autocomplete="/search/autocomplete_user_word_text" id="translation_0" name="translation_0" type="text" value=""/>
        </div>

        <div>
          <% l = [3, @translations.length - 1].min; (0..l).each do |i| %>
              <%= check_box_tag("suggested_translation_#{i}", @translations[i], i == 0) %>
              <%= @translations[i] %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row with-bottom-margin">
      <div id="synonyms" class="span12 box synonyms-box">
        <input type="button" value="Add synonym" class="btn" onclick="addSynonym();"/>
      </div>
    </div>

    <div class="row with-bottom-margin">
      <div id="categories" class="span12 box categories-box">
        <input type="button" value="Add category" class="btn" onclick="addCategory();"/>

        <script type="text/javascript">
            <% @categories.each do |category| %>
            <%= "addCategory('#{category}')" %>
            <% end %>
        </script>
      </div>
    </div>

    <div class="row">
      <div class="span1 offset5">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>

<% end %>
<%= set_focus_to_id('translation_0') %>