<%= show_word_customization %>

<%= form_for(@user_word) do |f| %>

    <% (0..@user_word.direct_translations.length - 1).each do |i| %>
        <input type="hidden" name="translation_<%= (i + 1) %>" value="<%= @user_word.direct_translations[i].related_user_word.text%>"/>
    <% end %>

    <% (0..@user_word.direct_synonyms.length - 1).each do |i| %>
        <input type="hidden" name="synonym_<%= (i + 1) %>" value="<%= @user_word.direct_synonyms[i].related_user_word.text%>"/>
    <% end %>
    <% (0..@user_word.backward_synonyms.length - 1).each do |i| %>
        <input type="hidden" name="synonym_<%= (@user_word.direct_synonyms.length + i + 1) %>" value="<%= @user_word.backward_synonyms[i].source_user_word.text%>"/>
    <% end %>


    <div class="row with-bottom-margin">
      <div class="col-md-6" id="translations">
        <div class="box translations-box form-horizontal">

          <table class="table table-striped without-bottom-margin">
            <tbody>
            <% if @user_word.translations.length > 0 %>
                <%= render @user_word.translations %>
            <% else %>
                <tr>
                  <td colspan="3">Empty</td>
                </tr>
            <% end %>
            <tr>
              <td>
                <%= autocomplete_field_tag :translation_0, '', search_autocomplete_user_word_text_path, :placeholder => "You could add translations here" %>
              </td>
              <td>
                <%= f.submit "Add", :id => "add_translation", :class => "btn btn-default btn-add-inside-table"%>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6" id="synonyms">
        <div class="box synonyms-box form-horizontal">
          <table class="table table-striped without-bottom-margin">
            <tbody>
            <% if @user_word.synonyms.length > 0 %>
                <%= render @user_word.synonyms %>
            <% else %>
                <tr>
                  <td colspan="3">Empty</td>
                </tr>
            <% end %>
            <tr>
              <td>
                <%= autocomplete_field_tag :synonym_0, '', search_autocomplete_user_word_text_path, :placeholder => "You could add synonyms here" %>
              </td>
              <td>
                <%= f.submit "Add", :id => "add_synonym", :class => "btn btn-default btn-add-inside-table"%>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row with-bottom-margin">
      <div class="col-md-12" id="categories">
        <div class="category_list">
          <%= render @user_word.user_word_categories %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 new-category">
        <%= autocomplete_field_tag :category_0, '', search_autocomplete_user_category_name_path, :placeholder => 'You could add categories here' %>
        <%= f.submit ' Add ', :id => 'add_category', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>