<div>
  <h1><%= @user_word.word.text %></h1>

  <%= link_to "Edit", edit_user_word_path(@user_word) %>
  <div style="float:right">
    learned: <%= word_status(@user_word) * 100 %>%
  </div>
</div>


<%= form_for(@user_word) do |f| %>
    <div class="row">
      <div class="span6" id="translations">
        <h4>
          Translations
        </h4>

        <table class="table table-striped">
          <tbody>
          <%= render @user_word.translations %>
          </tbody>
        </table>

        <div class="block-inline">
          <%= text_field_tag :translation_0, '', :autocomplete => search_autocomplete_word_text_path %>
        </div>
      </div>

      <div class="span6" id="synonyms">
        <h4>
          Synonyms
        </h4>
        <table class="table table-striped">
          <tbody>
          <%= render @user_word.synonyms %>
          </tbody>
        </table>
        <div class="block-inline">
          <%= text_field_tag :synonym_0, '', :autocomplete => search_autocomplete_word_text_path %>
        </div>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="span6" id="categories">

        <h4>
          Categories
        </h4>
        <table class="table table-striped">
          <tbody>

          <%= render @user_word.user_word_categories %>
          </tbody>
        </table>
      </div>
      <div class="span6">
        <input type="button" value="Add category" onclick="addCategory();"/>
      </div>
    </div>
    <%= f.submit " Save ", :class => "btn-success" %>
<% end %>

