<div class="row" id="word_title">
  <div class="span3">
    <h1><%= @user_word.word.text %></h1>
  </div>

  <div class="span3 offset6" id="status">
    <table>
      <tbody>
      <tr>
        <td>
          <div class="progress">
            <div class="bar" style="width: 60%;"></div>
          </div>
        </td>
        <td>
          <%= form_tag do %>
              <%= submit_tag " Reset ", :class => "btn-danger" %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<%= form_for(@user_word) do |f| %>
    <div class="row">
      <div class="span6" id="translations">
        <h4>
          Translations
        </h4>

        <table class="table table-striped">
          <tbody>
          <%= render @user_word.translations %>
          </tbody>
        </table>

        <div class="block-inline">
          <%= text_field_tag :translation_0, '', :autocomplete => search_autocomplete_word_text_path, :placeholder => "New translation" %>
          <%= f.submit " Add ", :id => "add_translation", :class => "btn-success" %>
        </div>
      </div>

      <div class="span6" id="synonyms">
        <h4>
          Synonyms
        </h4>
        <table class="table table-striped">
          <tbody>
          <%= render @user_word.synonyms %>
          </tbody>
        </table>
        <div class="block-inline">
          <%= text_field_tag :synonym_0, '', :autocomplete => search_autocomplete_word_text_path, :placeholder => "New synonym" %>
          <%= f.submit " Add ", :id => "add_synonym", :class => "btn-success" %>
        </div>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="span12" id="categories">
        <div class="row">
          <div class="span12">
            <h4>
              Categories
            </h4>
            <%= render @user_word.user_word_categories %>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <%= text_field_tag :new_category, '', :autocomplete => search_autocomplete_word_text_path, :placeholder => "New category" %>
            <%= f.submit " Add ", :value => "add_category", :class => "btn-success" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

