<div>
  <div>
    <%= @user.name %>
  </div>
  <div>
    Success count:
    <%= @user.success_count %>
  </div>
  <div>
    Native language: <%= !@user.language.nil? ? @user.language.name : "" %>
  </div>
</div>

<% if @user.email == "andrey.vokin@gmail.com" %>
    <%= form_tag :action => :init do %>
        <%= submit_tag "init" %>
    <% end %>
<% end %>