<div class="row" id="page_title">
  <div class="col-md-12">
    <h1><%= current_user.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for current_user, :url => {:controller => "users", :action => "update"} do |f| %>
        <table class="table table-striped">
          <thead>
          <tr>
            <td colspan="2">
              <%= render 'shared/error_messages', :object => f.object %>
            </td>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td colspan="2">
              <%= f.submit "Save", :class => "btn" %>
            </td>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td>Success Count</td>
            <td><%= current_user.success_count %></td>
          </tr>
          <tr>
            <td>Native Language</td>
            <td><%= !current_user.language.nil? ? current_user.language.name : "" %></td>
          </tr>
          <tr>
            <td>Target Language</td>
            <td><%= f.select(:target_language_id, target_language_select)%></td>
          </tr>
          </tbody>
        </table>
    <% end %>
  </div>
</div>