<%= javascript_include_tag 'word_new.js' %>

<%= form_for(@word) do |f| %>
  <div class="field">
    <%= f.label :word %>
    <%= f.text_field :word %>

    <%= f.label :language_id %>
    <%= f.select(:language_id, @languages.map { |l| [l.name, l.id] }) %>
  </div>

  <br/>

  <div id="translations">
    <input type="button" value="Add translation" accesskey="A" onclick="addTranslation();"/>
    <input data-autocomplete="/search/autocomplete_word_word" id="translation_0" name="translation_0" type="text" value=""/>
  </div>

  <br/>

  <div id="categories">
    <input type="button" value="Add category" accesskey="C" onclick="addCategory();"/>
  </div>

  <%= f.submit %>
<% end %>
<%=set_focus_to_id('translation_0')%>