<div class="right">
  <%= render @word.word_categories %>
</div>

<div class="title">
  <%= @word.word %>
  <%= link_to "Edit", edit_word_path(@word) %>
</div>

<hr/>

<div class="word-translations">
  <%= render @word.translations %>
  <%= form_for @word_relation do |f| %>
    <div class="block">
      <div class="label">
        new translation
      </div>

      <div class="block-inline">
        <%= text_field_tag :related_word, '', :autocomplete => search_autocomplete_word_word_path %>
      </div>
    </div>
    <%= f.hidden_field :word_id, :value => @word.id%>
    <%= f.hidden_field :relation_type, :value => 1%>
  <% end %>
</div>

<hr/>

<div class="word-synonyms">
  <%= render @word.synonyms %>
  <%= form_for @word_relation do |f| %>
    <div class="block">
      <div class="label">
        new synonym
      </div>
      <div class="block-inline">
        <%= text_field_tag :related_word, '', :autocomplete => search_autocomplete_word_word_path %>
      </div>
    </div>
    <%= f.hidden_field :word_id, :value => @word.id%>
    <%= f.hidden_field :relation_type, :value => 2%>

  <% end %>
</div>
