<%= javascript_include_tag 'words.js' %>

<div class="right">
  <%= render @word.word_categories %>
</div>

<div class="title">
  <%= @word.word %>
  <%= link_to "Edit", edit_word_path(@word) %>
</div>

<hr/>

<%= form_for(@word) do |f| %>
  <div class="word-translations" >
    <%= render @word.translations %>
    <div class="block" id="translations">
      <div class="label">
        new translation
      </div>

      <div class="block-inline">
        <%= text_field_tag :translation_0, '', :autocomplete => search_autocomplete_word_word_path %>
      </div>
    </div>
  </div>
  <hr/>

  <%= render @word.synonyms %>
  <div class="block" id="synonyms">
    <div class="label">
      new synonym
    </div>
    <div class="block-inline">
    </div>
  </div>
  <hr/>

  <div id="categories">
    <input type="button" value="Add category" onclick="addCategory();"/>
  </div>

  <%= f.submit %>
<% end %>
