<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Tutor</a>

      <div class="nav-collapse">

        <% if signed_in? %>
            <ul class="nav">
              <li>
                <%= form_for(:search, :url => search_path, :html => {:class => "navbar-search pull-left"}) do |f| %>
                    <%= f.text_field :word, :autocomplete => search_autocomplete_word_text_path, :class => "search-query", :placeholder => "Search" %>
                <% end %>
              </li>
              <li class="active"><%= link_to "Dictionary", root_path %></li>
              <li><%= link_to "Categories", user_categories_path %></li>
              <li><%= link_to "Training", tries_path %></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Settings
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/shortkeys.html">
                      <i class="icon-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon-cog"></i> Training preferences
                    </a>
                  </li>

                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Help
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/shortkeys.html">
                      Shortkey Map
                    </a>
                  </li>
                  <li class="divider"/>
                  <li>
                    <a href="#">
                      Content
                    </a>
                  </li>

                </ul>
              </li>

              <li><%= link_to "Sign out", signout_path %> </li>
            </ul>
        <% else %>
            <ul class="nav pull-right">

              <li><%= link_to "Sign in", signin_path %></li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>