<header>
  <div class="nav">
    <nav>
      <ul>
        <% if signed_in? %>
            <li>
              <div>
                <%= form_for(:search, :url => search_path) do |f| %>
                    <%= f.text_field :word, :autocomplete => search_autocomplete_word_text_path %>
                <% end %>
              </div>
            </li>
            <li class="round"><%= link_to "Sign out", signout_path%> </li>
            <li class="round">Recent words</li>
        <% else %>
            <li class="round"><%= link_to "Sign in", signin_path%> </li>
        <% end %>
        <li class="round">About</li>
      </ul>
    </nav>
  </div>

  <div class="round">
    <%= link_to logo, root_path %>
  </div>
</header>