<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tutor</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if signed_in? %>
          <ul class="nav navbar-nav">
            <li>
              <%= form_for(:search, :url => search_path, :html => {:class => 'navbar-form navbar-left'}) do |f| %>
                  <%= f.autocomplete_field :text, search_autocomplete_user_word_text_path, :class => 'form-control', :placeholder => 'Search' %>
              <% end %>
            </li>
            <li <% if @active_tab == :dictionary %>class="active"<% end %> ><%= link_to 'Dictionary', root_path %></li>
            <li <% if @active_tab == :categories %>class="active"<% end %> ><%= link_to 'Categories', user_categories_path %></li>
            <li <% if @active_tab == :training %>class="active"<% end %> ><%= link_to 'Training', trainings_path %></li>
            <li><%= link_to 'New Word', new_user_word_path %> </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= target_language %>
                <b class="caret"></b>
              </a>

              <%= not_target_language %>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Settings
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%=user_path current_user%>">
                    <i class="icon-user"></i> Profile
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-cog"></i> Training preferences
                  </a>
                </li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/shortkeys.html">
                    Shortkey Map
                  </a>
                </li>
                <li class="divider"/>
                <li>
                  <a href="#">
                    Content
                  </a>
                </li>

              </ul>
            </li>

            <li><%= link_to 'Sign out', signout_path %> </li>
          </ul>
      <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Sign in', signin_path %></li>
          </ul>
      <% end %>
    </div>
  </div>
</nav>
