<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tutor - <%= @title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>

</head>

<body>

<div class="container">
  <%= render 'layouts/header' %>
  <section class="round">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
