<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tutor - <%= @title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>

</head>

<body>

<div class="container">
  <%= render 'layouts/header' %>
  <div class="row">
    <div class="span12">
      <div class="alert-container">
        <% flash.each do |key, value| %>
          <span class="alert alert-<%= key %>"><%= value %></span>
        <% end %>

      </div>
    </div>
  </div>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
