<!DOCTYPE html>
<html>
<head>
  <title>Tutor - <%=@title%></title>
  <%= stylesheet_link_tag 'application.css', 'jquery-ui-1.8.14.custom', 'tutor' %>


  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'jquery-1.5.1.min', 'jquery-ui-1.8.14.custom.min', 'autocomplete-rails', 'tutor' %>

  <script type="text/javascript">
    document.onkeypress = documentKeypress;
  </script>

  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <section class="round">
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
